//variables
$textColor: #464646;
$linkColor: #003471;

$fontSpecialBold: 'ITCLubalinGraphW01-Bd';
$fontSpecial:'ITCLubalinGraphW01-XLt';
$fontMain: 'HelveticaNeueW01-65Medi';

//////////////////////////////////////*/

/*/////////////////////////////////////
//
//reset
//
////////////////////////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*/////////////////////////////////////
//
//global
//
////////////////////////////////////*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html, body{
    height: 100%;
}


/*/////////////////////////////////////
//
//typogrpahy
//
////////////////////////////////////*/

h1, h2, h3, h4, h5, h6, p, ul{
    color: $textColor;
}

/*/////////////////////////////////////
//
//body
//
////////////////////////////////////*/

body{
    background-color: #000
}

.container{
    position: absolute;
    margin-left: 192px;
}

.bg{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: red;
    z-index: -9999;
    background: url(../img/bg1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*/////////////////////////////////////
//
//post types
//
////////////////////////////////////*/

.postList{
    float: left;
    width: 416px;
}

.post{
    width: 416px;
    font-size: 15px;
    line-height: 20px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 20px 15px;
    box-shadow: 0px 1px 2px #000;
    position: relative;

    h2 a{
        font-size: 1.563em;
        line-height: 2.031em;
        font-family: $fontSpecialBold;
        color: $textColor;
        text-decoration: none;
        &:hover{
            color: $textColor;
            text-decoration: underline;
        }
    }
    p{

        width: 385px;
        font-family: $fontMain;
    }

    .info{
        z-index: -999;
        position: absolute;
    }

    a{
        color: $linkColor;
        font-family: $fontMain;
        font-weight: 700;
        text-decoration: none;
        &:hover{
            color: #1c5597;
        }
    }
}


.callout{
    position: fixed;
    padding-top: 130px;
    float: left;
    
    //background: red;
    margin-left: 40%;

    .calloutHeader{
        float: left;
    }

    h2{
        font-family: $fontSpecialBold;
        font-size: 20px;
        margin-top: 28px;
        color: #fff;
        text-transform: uppercase;
        //letter-spacing: 1px;
    }

    p{
        width: 290px;
        font-size: 14px;
        color: #fff;
        line-height: 17px
    }

    .desc{
        margin-top: 19px;
        //TODO: get a better small luciban reg
        font-family: $fontSpecialBold;
    }

    .subDesc{
        position: relative;
        top: 180px;
        margin-top: 180px;
        background-color: red;
        font-family: $fontMain;
        padding: 5px 10px;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 3%, rgba(0,0,0,0.78) 6%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(3%,rgba(0,0,0,0.8)), color-stop(6%,rgba(0,0,0,0.78)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.78) 6%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.78) 6%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.78) 6%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 3%,rgba(0,0,0,0.78) 6%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    }

}

.watsonTitle{
    background: url(../img/watson-title.png) no-repeat;
    width: 282px;
    height: 34px;
    text-indent: -9999px;
}

.social{

    //margin-top: 120px;

    float: left;

    a{
        display: block;
        text-indent: -9999px;
        height: 28px;
        width: 28px;
    }

    li{
        padding-top:5px;
    }
    .btn1{
        background-image: url(../img/avatar-button.png); 
    }

    .btn2{
        background-image: url(../img/dot-button.png); 
    }

    .btn3{
        background-image: url(../img/rss-button.png); 
    }

}

