/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html, body {
  height: 100%; }

header h2, .post .personName, .post h2 a {
  font-size: 1.563em;
  line-height: 2.031em;
  font-family: "ITCLubalinGraphW01-Bd";
  color: #464646;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, ul {
  color: #464646; }

body {
  background-color: black; }

.container {
  position: absolute;
  margin-left: 9%; }
  @media (max-width: 1118px) {
    .container {
      margin-left: 0px;
      width: 416px;
      margin: 0 auto;
      position: relative; } }

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -9999;
  background: url(../img/bg1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header {
  margin-top: 15px;
  clear: both;
  z-index: 9999;
  width: 416px;
  font-size: 15px;
  line-height: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  padding-top: 20px;
  height: 181px;
  box-shadow: 0px 1px 2px #000;
  position: relative; }
  header .holder {
    background-color: #000;
    width: 395px;
    margin: 0 auto;
    height: 84px; }
  header h2 {
    padding-left: 15px; }
    @media (max-width: 1118px) {
      header h2 {
        text-align: center; } }

.postList {
  float: left;
  width: 416px; }
  @media (max-width: 1118px) {
    .postList {
      position: relative; } }

.touch .post .info {
  left: -90px;
  opacity: 1;
  transition: none; }

.touch .post:hover > .info {
  left: -90px; }

.post {
  z-index: 9999;
  width: 416px;
  font-size: 15px;
  line-height: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px 15px;
  box-shadow: 0px 1px 2px #000;
  position: relative; }
  .post h2 a:hover {
    color: #464646;
    text-decoration: underline; }
  .post p {
    width: 385px;
    font-family: "HelveticaNeueW01-65Medi"; }
  .post .info {
    font-family: "HelveticaNeueW01-65Medi";
    font-size: 13px;
    top: 30px;
    left: 0px;
    text-align: right;
    position: absolute;
    width: 100px;
    transition: all .4s;
    color: #fff;
    -webkit-transition: all .4s;
    /* Safari */
    opacity: 0; }
    .post .info .date {
      font-size: 24px;
      font-family: "ITCLubalinGraphW01-Bd"; }
      .post .info .date span {
        display: block;
        padding-top: 9px;
        padding-bottom: 3px;
        font-size: 28px;
        font-family: "ITCLubalinGraphW01-Bd"; }
    .post .info a {
      color: #fff;
      font-weight: normal; }
      .post .info a:hover {
        color: #e7e7e7;
        text-decoration: underline; }
  .post a {
    color: #003471;
    font-family: "HelveticaNeueW01-65Medi";
    font-weight: 700;
    text-decoration: none; }
    .post a:hover {
      color: #1c5597; }
  .post iframe {
    width: 100%; }
  .post img {
    margin: 0 auto;
    width: 100%; }

.post:hover > .info {
  left: -110px;
  opacity: 1; }

.info:hover {
  left: -100px; }

.callout {
  position: fixed;
  padding-top: 130px;
  float: left;
  margin-left: 40%; }
  @media (max-width: 1118px) {
    .callout {
      margin-left: 0;
      float: none;
      position: relative;
      padding-top: 0px;
      margin: 0 auto;
      clear: both;
      width: 416px; } }
  .callout .calloutHeader {
    float: left; }
    @media (max-width: 1118px) {
      .callout .calloutHeader {
        width: 416px; } }
  .callout h2 {
    font-family: "ITCLubalinGraphW01-Bd";
    font-size: 20px;
    margin-top: 28px;
    color: #fff;
    text-transform: uppercase; }
    @media (max-width: 1118px) {
      .callout h2 {
        font-size: 30px; } }
  .callout p {
    width: 290px;
    font-size: 14px;
    color: #fff;
    line-height: 17px; }
    @media (max-width: 1118px) {
      .callout p {
        width: 416px; } }
  .callout .desc {
    margin-top: 19px;
    font-size: 15px;
    font-family: 'ITCLubalinGraphW01-Bk'; }
  .callout .subDesc {
    position: relative;
    top: 180px;
    margin-top: 180px;
    font-family: "HelveticaNeueW01-65Medi";
    padding: 5px 10px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 3%, rgba(0, 0, 0, 0.78) 6%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(0, 0, 0, 0.8)), color-stop(6%, rgba(0, 0, 0, 0.78)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 3%, rgba(0, 0, 0, 0.78) 6%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 3%, rgba(0, 0, 0, 0.78) 6%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 3%, rgba(0, 0, 0, 0.78) 6%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 3%, rgba(0, 0, 0, 0.78) 6%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 );
    /* IE6-9 */ }
    @media (max-width: 1118px) {
      .callout .subDesc {
        display: none !important; } }

.watsonTitle {
  background: url(../img/watson-title.png) no-repeat;
  width: 282px;
  height: 34px;
  text-indent: -9999px; }
  @media (max-width: 1118px) {
    .watsonTitle {
      width: 100%;
      height: 51px;
      background-size: cover;
      margin-top: 15px; } }

.social {
  float: left; }
  .social a {
    display: block;
    text-indent: -9999px;
    height: 28px;
    width: 28px; }
  .social li {
    padding-top: 5px; }
    @media (max-width: 1118px) {
      .social li {
        float: left;
        padding-right: 10px;
        position: relative;
        top: 10px;
        margin-bottom: 20px; } }
  .social .btn1 {
    background-image: url(../img/ibm.png); }
  .social .btn2 {
    background-image: url(../img/fb.png); }
  .social .btn3 {
    background-image: url(../img/rss.png); }
  .social .btn4 {
    background-image: url(../img/youtube.png); }
  .social .btn5 {
    background-image: url(../img/twitter.png); }

.nextPage a {
  background: url(../img/next-page.png) no-repeat;
  width: 35px;
  position: fixed;
  right: 30px;
  top: 130px;
  height: 97px;
  text-indent: -99999px; }

#clock {
  text-align: center;
  position: relative;
  top: 17px; }

#clock span {
  display: inline-block;
  width: 36px;
  height: 52px;
  background: url("../img/mk3.jpg");
  background-position: 0 0; }

#clock span:nth-child(even) {
  margin-right: 0px; }

#clock .time {
  background: url(../img/colin.jpg);
  width: 14px;
  height: 52px;
  margin-left: 3px; }

.timeDesc span {
  color: #464646;
  font-family: "ITCLubalinGraphW01-Bd";
  text-transform: uppercase;
  padding: 0 24px;
  font-size: 12px; }

.timeDesc {
  padding-top: 5px;
  text-align: center; }
